.score{
    display:flex;
    flex-direction: column;
    background:white;
    padding:1em;
    min-width:230px;
    border-radius:0 0 5px 5px;
}
.hitMissedContainer h2{
    display:flex;
    justify-content: space-between;
    font-size:1.2em;
}
.score button{
    margin-top:1em;
    align-self: right;
    padding:0.8rem 0;
    border:none;
    color: white;
    background:rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 4px rgba(0,0,0,0.3);
    border-radius:5px;
    cursor: pointer;
    transition: all 0.1s;
}
.score button:hover{
    scale: 0.99;
}

@media (min-width:768px) {
    .score{
        border-radius: 0 10px 10px 0;
        justify-content: space-between;
    }
    .hitMissedContainer h2{
        margin-bottom:15px;
    }
}